@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    color: #96b4df;
    font-family: Nunito;
    
}

header {
    background-color: #3b65a1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0px 30px 0px 30px;
    position: fixed;
}

.menu-label img{
    display: none;
    height: 27px;
    float: right;
}

.navbar input{
    display: none;
}

.logo{
    height: 90%;
}

/* Navbar */

.navbar,
.navbar-list
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    gap: 150px;
}

.navbar-list {
    gap: 10px;
}

.navbar-list li:first-child>a {
    color: rgb(255, 255, 255);
    font-weight: 600;
}

/* Body */
main{
    padding: 80;
    width: 100%;
}

/* Hero */

.hero {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 20px 0px;

}

.hero-info-text{
    width: 100%;
    padding: 0px 10px 10px 0px;
}

.hero-info-text p{
    font-size: 25px;
    font-weight: 200;
    padding: 10px 0;
}

.hero-info-text p strong{
    color: #326fc4;
}

.hero-info-text h2{
    color: #326fc4;
    font-size: 30px;
}

.hero-info-img {
    width: min-content;
    padding: 0px 0px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-info-cta{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.hero-info-cta a{
    color: white;
    font-size: 15px;
    background-color: #3b65a1;
    padding: 1rem;
    border-radius: 50px;
    border: none;
    width: 90%;
    text-align: center;
}

/* About */

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 0 0;
}

.about-mision p {
    font-size: 30px;
    width: 50%;
    font-weight: 200;
    margin: auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Info-Cards */

#info {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    padding: 70px 0 30px 0;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#info h2{
    font-size: 32px;
    font-weight: 800;
    color: #326fc4;
}

.info-head{
    text-align: center;
}

.info-head p{
    font-size: 22px;
    font-weight: 500;
}

.info-head p strong{
    color: #326fc4;
}

.info-cards-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    
}

.info-cards{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 290px;
    padding: 40px 30px;
    background-color: #96b4df;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    gap: 20px;
}

.info-cards img{
    width: 60px;
}

.info-cards h3{
    font-weight: 600;
    font-size: 20px;
    color: white;
}

.info-cards p{
    font-size: 14px;
    font-weight: 600;
    color: white;
}

/* Footer */

.footer-info {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    gap: 50px;
    background-color: #c1d8f8;
    padding: 30px 0 0 0;
}

.footer-info h3,
ul, li{
    color: #283890;
}

.footer-info-img{
    width:max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 30px 0;
}

.footer-text p{
    background-color: #3b65a1;
    color: white;
    font-size: 15px;
    font-weight: 200;
    text-align: center;
    padding: 5px 0;
}

/* Media queries*/

@media (max-width: 992px){
    header {
        max-width: 992px;
        position: fixed;
        overflow: hidden;
    }

    .hero{
        max-width: 992px;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .hero-info-text h2{
        font-size: 40px;
        text-align: center;
    }

    .hero-info-text p{
        font-size: 32px;
        text-align: center;
        gap: 5px;
        margin: 15px 0px;
        text-align: justify, center;
    }

    .hero-info-cta{
        max-width: 992px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        margin-left: 45px;
        margin-bottom: 20px;
    }

    .hero-info-cta a{
        font-size: 22px;
    }

    .hero-info-img,
    .about{
        max-width: 900px;
        max-height: 500px;
        /* margin-right: 85px; */
        justify-content: center;
        align-items:center;
    }

    .about-mision p {
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 20px;
    }

    .info-cards-container {
        max-width: 992px;
        justify-content: center;
        align-items: center;
        margin: 50px;
    }
}

@media (max-width: 768px){
    .header {
        max-width: 768px;
    }

    .info-cards-container{
        max-width: 768px;
        margin: 10px;
        flex-direction: row;
    }

    .info-cards{
        width: 200px;
        height: 100px;
        padding: 15px;
        overflow: hidden;
        gap: 15px;
    }

    .info-cards img{
        width: 40px;
    }

    .info-cards h3{
        font-size: 15px;
    }

    .footer-info-img{
        height: 0.3 rem;
        padding: 0;
    }

    .footer-info {
        padding: 10px;
    }
}

@media (max-width: 576px){
}